.nav-bar {
    display: flex;
    width: 100%;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0);
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 2rem 3.2rem 2rem 3.2rem;
  }

.logo {
    height: 100%;
}

.logo img{
    width: 4.375rem;
    height: 1.875rem;
}

.login-menu {
    background-color: transparent;
    color: #cdcdcd;
    padding: 0.625rem 1.25rem;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    transition: background-color 0.3s;
    margin-top: 2rem;
}

.login-menu:hover {
    background-color: #37393e;
    border-radius: 0.625rem;
}


/************** HERO SECTION ***************/
.hero-section {
    background-image: url(/assets/main.jpeg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.hero-container {
    display: flex;
    background-color: transparent;
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9.375rem 2.5rem 3.2rem 2.5rem;
}

.bundle-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 41.875rem;
    gap:1.25rem;
}

.right-bundle-card,
.left-bundle-card{
    background-color: transparent;
    padding: 0 1.25rem 0 1.25rem;
    flex:1;
    text-align: center;
}

.bundle-title{
    color:#1ce783;
    font-size: 0.75rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.25rem;
}

.bundle-images img{
    width: 14.375rem;
    height: 3.125rem;
    text-align: center;
    vertical-align: middle;
}

.bundle-price{
    text-align: center;
    color:white;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.875rem;
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
}

.hero-buttons{
    display: flex;
    text-align: center;
    justify-content: center;
    border: none;
    background-color: #1ce783;
    color:black;
    border-radius: 5px;
    padding: 1rem 4rem 1rem 4rem;
    width:100%;
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.6px;
}
.hero-buttons:hover{
    background-color: #1ce781c7;
    cursor: pointer;
    transition: background-color 0.3s;
}

.legal-sec {
    text-align: center;
    margin-top: 1.25rem;
    line-height: 0.875rem;
    display: block;
    height: 5rem;
    width:41.875rem;
    margin-top: 1.875rem;
}

.terms,
.signup {
    color: #ffffff;
    text-decoration: underline;
    background-color: transparent;
    cursor: pointer;
}

.terms{
    padding: 0 0 0.625rem 0;
    font-size: 0.875rem;
}

.signup{
    padding-top: 0.625rem;
    font-size: 1rem;
}

.signup:hover{
    color: #989895;
}


/************** CTA SECTION ***************/
.cta{
    background: linear-gradient(to bottom, #1ce781d6, #000000);
    width:100%;
    color: white;
    text-align: center;
    padding: 30px 44px 40px 44px;
}

.cta-text{
    padding: 0 22px 0 22px;
    margin-bottom: 25px;
}

.cta-text p{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.6px;
    text-align: center;
    color: white;
}

.cta-btn button {
    background-color: transparent; 
    width: 245px;
    height: 48px;
    color: white; 
    padding: 10px 20px;
    font-size: 14px; 
    border: 2px solid #ffffff;
    border-radius: 5px; 
    cursor: pointer; 
    font-weight: 600;
    transition: background-color 0.3s;
  }

.cta-btn button:hover {
    background-color: #999999;
    color:#000000;
    border:none;
}


/************** LIVE TV SECTION ***************/
.live-tv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    height: 494px;
    width:100%; 
    padding: 0 0 75px 0;
}

.live-ads{
    text-align: center;
    color:#1ce783;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.6px;
}

.live-title{
    color:white;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -0.5px;
    text-align: center;
    margin: 16px 24px 0 24px;
}

.subheadline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
    font-size: 16px;
    line-height: 21.76px;
    text-align: center;
    width: 515px;
    height:232.5px;
    margin:12px 29px 0 29px;
    padding:8px 0 8px 0;
}

.subheadline-btn{
    height: 86px;
    width: 400px;
    padding:20px 44px 10px 44px;
    margin-left: 55px;    
}

.subheadline-button{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.6px;
    line-height: 14px;
    text-align: center;
    vertical-align: middle;
    background-color: #1ce783;
    height: 50px;
    width:200px;
    padding: 0 24px 0 24px;
    border-radius: 5px;
}

.subheadline-button:hover{
    background-color: #1ce781c7;
    cursor: pointer;
    transition: background-color 0.3s;
}

.live-disclaimer{
    height:30px;
    width:600px;
    margin: -10px 39px 30px 39px;
}

.live-disclaimer p{
    color:#989895;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
}

.live-disclaimer >p >button,
.livesport-inner-container >p >button{
    background-color: transparent;
    color:#989895;
    font-size: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.viewchannels-btn{
    color: #cdcdcd;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.6px;
    line-height: 16px;
    text-decoration: underline;
    background:none;
    cursor: pointer;
}

/************** LIVE SPORT SECTION ***************/
.livesport-section{
    background-image: url(/assets/sports-bg.jpeg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.livesport-outer-container{
    width:786px;
    height:100vh;
    margin:0 215px 0 215px;
    padding: 60px 0 190px 0;
    max-width: 786px;
}

.livesport-inner-container{
    height: 380.74px;
    width:786px;
    margin: 100px 0 0 0;
    font-size: 16px;
}

.tab-buttons{
    height:50px;
    width:786px;
    padding:0 0 31px 0;
    text-align: left;
}

.ls-1{
    display:inline;
    background-color: transparent;
    color:white;
    height:auto;
    width:auto;
    font-weight: 700;
    letter-spacing: 0.25px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}
.ls-2,
.ls-3{
    display:inline;
    background-color: transparent;
    color:rgba(255, 255, 255, 0.587);
    height:auto;
    width:auto;
    font-weight: 700;
    letter-spacing: 0.25px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s;
    margin: 0 20px 0 20px;
}

.ls-1:hover,
.ls-2:hover,
.ls-3:hover{
    color:#ffffff68;
}

.livesport-headline{
    text-align: left;
    height: 60px;
    width: 650px;
    margin: 25px 0 0 0;
}

.livesport-headline span{
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.5px;
    height:auto;
    width:auto;
    color:white;
}

.livesport-subheadline{
    text-align: left;
    height: 109px;
    width: 450px;
    margin: 18px 0 0 0;
}

.livesport-subheadline span{
    color:white;
    font-size: 16px;
    line-height: 22px;
    height: auto;
    width: auto;
}

.livesport-inner-container p{
    color:#989895;
    font-size: 10px;
    line-height: 10px;
}

.livesport-logos{
    display: flex;
    height: 75px;
    width:350px;
    margin: 20px 0 0 0;
}

.livesport-logos .live-sport-c {
    display: flex;
    background: 50% 50%;
    width: 80px;
    height: 80px;
}

.livesport-logos .live-sport-c img{
    text-align: center;
    vertical-align: middle;
    background-color: white;
    height: 50px;
    width: 50px;
    margin: 0 6px 0 6px;
    border-radius: 50%;
}