.nav-bar {
    display: flex;
    width: 100%;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0);
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 2rem 3.2rem 2rem 3.2rem;
  }

.logo {
    height: 100%;
}

.logo img{
    width: 4.375rem;
    height: 1.875rem;
}

.login-menu {
    background-color: transparent;
    color: #cdcdcd;
    padding: 0.625rem 1.25rem;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    transition: background-color 0.3s;
    margin-top: 2rem;
}

.login-menu:hover {
    background-color: #37393e;
    border-radius: 0.625rem;
}


/************** HERO SECTION ***************/
.hero-section {
    background-image: url(/assets/main.jpeg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.hero-container {
    display: flex;
    background-color: transparent;
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9.375rem 2.5rem 3.2rem 2.5rem;
}

.bundle-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 41.875rem;
    gap:1.25rem;
}

.right-bundle-card,
.left-bundle-card{
    background-color: transparent;
    padding: 0 1.25rem 0 1.25rem;
    flex:1;
    text-align: center;
}

.bundle-title{
    color:#1ce783;
    font-size: 0.75rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.25rem;
}

.bundle-images img{
    width: 14.375rem;
    height: 3.125rem;
    text-align: center;
    vertical-align: middle;
}

.bundle-price{
    text-align: center;
    color:white;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.875rem;
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
}

.hero-buttons{
    display: flex;
    text-align: center;
    justify-content: center;
    border: none;
    background-color: #1ce783;
    color:black;
    border-radius: 5px;
    padding: 1rem 4rem 1rem 4rem;
    width:100%;
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.6px;
}
.hero-buttons:hover{
    background-color: #1ce781c7;
    cursor: pointer;
    transition: background-color 0.3s;
}

.legal-sec {
    text-align: center;
    margin-top: 1.25rem;
    line-height: 0.875rem;
    display: block;
    height: 5rem;
    width:41.875rem;
    margin-top: 1.875rem;
}

.terms,
.signup {
    color: #ffffff;
    text-decoration: underline;
    background-color: transparent;
    cursor: pointer;
}

.terms{
    padding: 0 0 0.625rem 0;
    font-size: 0.875rem;
}

.signup{
    padding-top: 0.625rem;
    font-size: 1rem;
}

.signup:hover{
    color: #989895;
}


/************** CTA SECTION ***************/
.cta{
    background: linear-gradient(to bottom, #1ce781d6, #000000);
    width:100%;
    color: white;
    text-align: center;
    padding: 30px 44px 40px 44px;
}

.cta-text{
    padding: 0 22px 0 22px;
    margin-bottom: 25px;
}

.cta-text p{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.6px;
    text-align: center;
    color: white;
}

.cta-btn button {
    background-color: transparent; 
    width: 245px;
    height: 48px;
    color: white; 
    padding: 10px 20px;
    font-size: 14px; 
    border: 2px solid #ffffff;
    border-radius: 5px; 
    cursor: pointer; 
    font-weight: 600;
    transition: background-color 0.3s;
  }

.cta-btn button:hover {
    background-color: #999999;
    color:#000000;
    border:none;
}


/************** LIBRARY SECTION ***************/
.library{
    background-color: black;
    height: 1532.3px;
    width:100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.library-content{
    height:300px;
    width:786px;
    padding: 88px 20px 50px 20px;
    min-height: auto;
    min-width: auto;
    text-align: center;
}

.library-content span{
    color:#1ce783;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.6px;
    line-height: 12px;
    text-align: center;
    height:auto;
    width:auto;
}

.library-content h2{
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 60px;
    text-align: center;
    height:60px;
    width:746px;
    margin:16px 0 10px 0;
    color:white;
} 

.library-content p{
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    height:60px;
    width: 680px;
    margin: 0 33px 0 33px;
    padding: 16px 0 0 0;
    max-width: 680px;
    color:white;
}

.movies-library{
    background-color: #000000;
    height:1232.8px;
    width:786px;
    padding: 0 4px 45px 4px;
    max-width: 786px;
    position: relative;
}

.library-grid{
    height: 1187.8px;
    width: 778px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center; 
}

.library-grid button {
    width: calc(50% - 10px);
    margin-bottom: 20px; 
    height:550px;
    width:379px;
    cursor: pointer;
    line-height: 18px;
    border-radius: 5px;
}


.item-wrapper-1{
    background-image: url(/assets/family-guy.png);
    
}
.item-wrapper-2{
    background-image: url(/assets/prey.jpeg);
}
.item-wrapper-3{
    background-image: url(/assets/only-murders-in-the-building.png);
}
.item-wrapper-4{
    background-image: url(/assets/the-sopranos.png);
}

.item-wrapper-1,
.item-wrapper-2,
.item-wrapper-3,
.item-wrapper-4 {
    width:100%;
    height:100%;
    text-align: left;
    height:550px;
    width:379px;
    padding: 4px 4px 4px 4px;
    position: relative;
    border-radius: 5px;
    background-size: cover;
    color: white;
}

.item-wrapper-1:hover,
.item-wrapper-2:hover,
.item-wrapper-3:hover,
.item-wrapper-4:hover {
    border:4px solid #797D84;
    filter: brightness(0.7);
}

.movie-info{
    height:112.6px;
    width: 184px;
    padding:25px 25px 25px 25px;
    position: absolute;
    top:0;
    bottom:451px;
    right:187px;
    left:0;
}

.movie-info span{
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    text-align: left;
    height: auto;
    width:auto;
    margin: 0 0 10px 0;
    cursor: pointer;
}

.movie-info h3{
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    height: 44px;
    width: 134px;
    padding: 8px 0 8px 0;
    cursor: pointer;
}

.premium-span{
    font-size: 14px;
    line-height: 15px;
    height: 25px;
    width: 380px;
    padding:10px 0 0 0;
    color:#5c5c5c;
    margin: 0 0 10px 425px;
}

/************** LIVE TV SECTION ***************/
.live-tv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    height: 494px;
    width:100%; 
    padding: 0 0 75px 0;
}

.live-ads{
    text-align: center;
    color:#1ce783;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.6px;
}

.live-title{
    color:white;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -0.5px;
    text-align: center;
    margin: 16px 24px 0 24px;
}

.subheadline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
    font-size: 16px;
    line-height: 21.76px;
    text-align: center;
    width: 515px;
    height:232.5px;
    margin:12px 29px 0 29px;
    padding:8px 0 8px 0;
}

.subheadline-btn{
    height: 86px;
    width: 400px;
    padding:20px 44px 10px 44px;
    margin-left: 55px;    
}

.subheadline-button{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.6px;
    line-height: 14px;
    text-align: center;
    vertical-align: middle;
    background-color: #1ce783;
    height: 50px;
    width:200px;
    padding: 0 24px 0 24px;
    border-radius: 5px;
}

.subheadline-button:hover{
    background-color: #1ce781c7;
    cursor: pointer;
    transition: background-color 0.3s;
}

.live-disclaimer{
    height:30px;
    width:600px;
    margin: -10px 39px 30px 39px;
}

.live-disclaimer p{
    color:#989895;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
}

.live-disclaimer >p >button,
.livesport-inner-container >p >button{
    background-color: transparent;
    color:#989895;
    font-size: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.viewchannels-btn{
    color: #cdcdcd;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.6px;
    line-height: 16px;
    text-decoration: underline;
    background:none;
    cursor: pointer;
}

/************** LIVE SPORT SECTION ***************/
.livesport-section{
    background-image: url(/assets/sports-bg.jpeg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.livesport-outer-container{
    width:786px;
    height:100vh;
    margin:0 215px 0 215px;
    padding: 60px 0 190px 0;
    max-width: 786px;
}

.livesport-inner-container{
    height: 380.74px;
    width:786px;
    margin: 100px 0 0 0;
    font-size: 16px;
}

.tab-buttons{
    height:50px;
    width:786px;
    padding:0 0 31px 0;
    text-align: left;
}

.ls-1{
    display:inline;
    background-color: transparent;
    color:white;
    height:auto;
    width:auto;
    font-weight: 700;
    letter-spacing: 0.25px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}
.ls-2,
.ls-3{
    display:inline;
    background-color: transparent;
    color:rgba(255, 255, 255, 0.587);
    height:auto;
    width:auto;
    font-weight: 700;
    letter-spacing: 0.25px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s;
    margin: 0 20px 0 20px;
}

.ls-1:hover,
.ls-2:hover,
.ls-3:hover{
    color:#ffffff68;
}

.livesport-headline{
    text-align: left;
    height: 60px;
    width: 650px;
    margin: 25px 0 0 0;
}

.livesport-headline span{
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.5px;
    height:auto;
    width:auto;
    color:white;
}

.livesport-subheadline{
    text-align: left;
    height: 109px;
    width: 450px;
    margin: 18px 0 0 0;
}

.livesport-subheadline span{
    color:white;
    font-size: 16px;
    line-height: 22px;
    height: auto;
    width: auto;
}

.livesport-inner-container p{
    color:#989895;
    font-size: 10px;
    line-height: 10px;
}

.livesport-logos{
    display: flex;
    height: 75px;
    width:350px;
    margin: 20px 0 0 0;
}

.livesport-logos .live-sport-c {
    display: flex;
    background: 50% 50%;
    width: 80px;
    height: 80px;
}

.livesport-logos .live-sport-c img{
    text-align: center;
    vertical-align: middle;
    background-color: white;
    height: 50px;
    width: 50px;
    margin: 0 6px 0 6px;
    border-radius: 50%;
}


/************** PLAN SECTION ***************/
.plan-section {
    background-color: black;
    height: 90rem;
    width:100%;
    padding:0 0 2.5rem 0;
    position: relative;
}

.plan-header {
    height: 15.18rem;
    width:56.25rem;
    padding: 5rem 0 2.5rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 150px;
  }
  
.plan-headline{
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 60px;
    text-align:center;
    height:60px;
    width:56.25rem;
    margin: 0 0 16px 0;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan-header-description{
    line-height: 23.76px;
    text-align: center;
    height:47.5px;
    width:56.25rem;
    font-size: 18px;
    color:white;
}

b{
    font-weight: 700;
    text-align: center;
    height:auto;
    width:auto;
    color:white;
}

.plans-container{
    height:1344px;
    width:900px;
    margin: 0 158px 0 158px;
    max-width: 900px;
    position: relative;
    background-color: transparent;
}

/*boxes css*/
.plan-main-row{
    border-top:1px solid #797D84;
    border-bottom:1px solid #797D84;
    display: flex;
    flex-direction: row;
}


.r1-left-box{
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 215px;
    width:375px;
    padding:15px 0 10px 0;
    min-height: auto;
    max-width: 41.6%;
    min-width: auto; 
}

.r1-bundle-header{
    height: 54.5px;
    width: 321.925px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}

.r1-bundle-left{
    height: 54.59px;
    width: 84.95px;
}

.r1-bundle-left span{
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    color:white;
}

.r1-bundle-left img{
    height: 11.25px;
    width: 35px;
    vertical-align: middle;
}

.r1-bundle-toggle{
    height:54.5px;
    width:56px;
}

.switch{
    position: relative;
    display: inline-block;
    width:60px;
    height:34px;
}

.switch input{
    opacity: 0;
    width:0;
    height:0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: #37393e;
    -webkit-transition: .4s;;
    transition: .4s;
    border-radius: 10px;
}
.slider:before{
    position: absolute;
    content:"";
    height: 26px;
    width:26px;
    left:4px;
    bottom:4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider{
    background-color: #1ce783;
}

input:focus + .slider{
    box-shadow: 0 0 1px #1ce783;
}

input:checked + .slider:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform:translateX(26px);
}

.slider .round{
    border-radius:34px;
}

.slider.round:before{
    border-radius: 50%;
}

.r1-bundle-right{
    height: 60px;
    width: 400px;
}

.r1-bundle-save{
    color:white;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    width:103.81px;
    height: 19.5px;
}

.r1-bundle-3images{
    height: 35px;
    width: 161px;
    vertical-align: middle;
}


.r1-middle-box{
    background-color: #37393e7e;
    width: 262.5px;
    height: 215px;
    padding: 32px 8px 31px 8px;
    display: flex;
    max-width: 50%;
    max-height: auto;
}

.r1-contents{
    height: 153.4px;
    width: 246.5px;
    min-height: auto;
    min-width: auto;
    text-align: center;
}

.r1-contents p{
    color:#797D84;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    height:24.6px;
    width: 246.5px;
    margin: 25px 0 5px 0;
    padding: 10px 0 0 0;
}

.r1-contents h3{
    font-size: 16px;
    color:white;
    height: 23.7px;
    width:246px;
    margin: 0 0 2px 0;
    padding: 0 15px 0 15px;
    text-align: center;
}

.r1-contents button{
    font-size: 16px;
    height: 48px;
    width:246.5px;
    margin: 6px 0 0 0;
    max-width: 344px;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
}

.r1-right-c{
    padding-top: 50px;
    padding-left: 10px;
}

.popular span{
    background-color: #1ce783;
    font-size: 10px;
    width:150px;
    text-align: center;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    font-weight: 600;
}


.plan-feature{
    height: 713px;
    width: 900px;
}

.plan-rows{
    height: 77px;
    width:900px;
    border-bottom: 1px solid #797D84;
    display: flex;
    flex-direction: row;
}

.plan-r-left-b{
    height: 79px;
    width: 375px;
    padding: 30px 0 30px 0;
    text-align: left;
    font-size: 14px;
    color:white;
}

.plan-row-middle-b,
.plan-row-right-b{
    font-size: 16px;
    color:white;
    text-align: center;
    height: 79px;
    width: 262px;
    padding: 30px 5px 30px 5px;
    max-width: 50%;
}

.plan-row-middle-b{
    background-color: #37393e7e;
}
.plan-rows img{
    height:20px;
    width:20px;
}

.plan-row-before-last {
    color: white;
    font-size: 10px;
    padding: 20px 0 60px 0;
    border-bottom: 1px solid #797D84;
}


.plan-row-last{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-bottom: 1px solid #797D84;
}

.addons{
    margin: 30px 0 30px 0;
}




/************** FOOTER SECTION ***************/
footer{
    width:100%;
    background-color: #e8eaed;
    height: 483px;
    padding:0 44px 0 44px;
}

.footer-upper{
    display: flex;
    height:290px;
    width: 1128.67px;
    padding:46px 0 46px 0;
    text-align: left;
    font-size: 16px;
}

.footer-uc1{
    text-align: left;
    height:198px;
    width:752px;
    padding:0 8px 0 8px;
    font-size: 16px;
    min-height: auto;
    max-width: 66.7%;
    min-width: auto;
}

.browse-row {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-align: left;
    height:28px;
    width:736px;
    padding: 8px 0 8px 0;
}

.br{
    display: flex;
    flex-direction: row;
}

.br-1 ul,
.br-2 ul,
.br-3 ul,
.br-4 ul {
    height:170px;
    width:185px;
    min-height: auto;
    max-width: 70%;
    min-width: auto;
    text-align: left;
    list-style: none;
    line-height: 25px;
    color:#5c5c5c;
    font-weight: 500;
    cursor: pointer;
}

.help-list li:not(:first-child),
.aboutus-list li:not(:first-child){
    line-height: 25px;
    width:200px;
    text-align: left;
    line-height: 25px;
    font-weight: 500;
    cursor: pointer;
    color:#5c5c5c;
}
.help-list li:nth-child(1),
.aboutus-list li:nth-child(1){
    font-weight: 600;
}

.help-list,
.aboutus-list{
    padding-top: 18px;
}

.footer-lower{
    height:194px;
    width:1128.67px;
    border-top: 2px solid #D9DCE2;
    padding: 32px 0 0 0;
    text-align: left;
}

.socials-list {
    display: flex; 
    list-style: none;
    padding: 0; 
    height: 32px;
    width:170px;
}

.socials-list li {
    margin-right: 25px; 
    cursor: pointer;
}

.legal-links{
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    margin:15px 0 32px 0;
    display: flex;
    min-height: auto;
    min-width: auto;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
  
.legal-links a {
    text-decoration: none; 
    color: #333; 
    cursor: pointer;
}
  
.legal-links a:nth-child(2) img{
    height: 12px;
    width:12px;
    padding: 0 4px 0 0;
    display: inline;
    cursor: pointer;
}